<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Team <%=team.name%></title>
    <style>
        #table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #table td, #table th {
        border: 1px solid #ddd;
        padding: 8px;
        }

        #table tr:nth-child(even){background-color: #f2f2f2;}

        #table tr:hover {background-color: #ddd;}

        #table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
        }
    </style>
</head>
<body>
    <h1>Detail Team  <%=team.name%></h1>
    <a href="/teams/<%= team.id %>/player/add"><button>Add Player</button></a>
    <table id="table">
        <tr>
          <th>Player Name</th>
          <th>Nationality</th>
          <th>Birth Year</th>
          <th>Position</th>
        </tr>
        <% team.Players.forEach(el => { %>
            <tr>
                <td><%= el.captain %></td>
                <td><%= el.nationality %></td>
                <td><%= el.birthYear %></td>
                <td><%= el.position %></td>
            </tr>
        <% }) %>
       
      </table>
</body>
</html>